/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import "compass";

//基本コンポーネントを分割して外部化
@import "config";

//一行コメントは出力されない

//変数化を試してみる
$linkcolor : red;
a {
    color: $linkcolor;
}

//ネストを試してみる
.layout-box {
    h1 {
        font-size: 34px;
        //mixinで定義したマージンボトムをinclude
        @include marginbotom;
    }
    p {
        @include marginbotom;
        //継承を試してみる
        @extend li;
    }
    ul {
        @include marginbotom;
        li {
            @include marginbotom(20px);
        }
    }
}
